*,
html {
    margin: 0;
    padding: 0;
}

.container {}

.navbar-container {
    background-color: #bc2a8d;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    font-size: 30px;
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
}

.li-navbar:hover {
    background-color: black;
    transition: .2s;
    transition-delay: .3s;
    border-radius: 8px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: #bc2a8d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
     background-color: #f7f7f7;
     color: black;
     width: 720px;
     height: 480px;
     justify-content: center;
     display: flex;
     align-items: center;
     border-radius: 80px ;
     box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
     -webkit-border-radius:;
     -moz-border-radius:;
     -ms-border-radius:;
     -o-border-radius:;
}

.img-content {
    width: 90%;
    height: 90%;
}

.container-footer {
    background-color: #bc2a8d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.h1-footer {
    background-color: #bc2a9d;
    color: white;
    font-weight: 800;
}